@model IEnumerable<Product> 
@{
    ViewData["Title"] = "Index";
}

<h2>Showing @Model.Count() products</h2>

<div class="row">
    @foreach(var product in Model)
    {
    <div class="col-sm-12 col-md-6">
        <div class="card text-center">
            <div class="card-header">
                <h3>@product.Name</h3>
            </div>
            <div class="card-body">
                <img class="img-fluid" src="@product.Image" />
                <p>@product.Description</p>
                <h4>Price: @(product.Price.HasValue ? product.Price.Value.ToString("C") : "No Price")</h4>
                <a class="btn btn-primary" href="/Product/Details/@product.ID">View This Product</a>
            </div>
        </div>
    </div>

    }
</div>



